<div id='smspay-warning' style="display:none">
  <strong><%= Spree.t('no_payment_via_admin_backend', :scope => 'spree') %></strong>
</div>
<script>
  SpreeSmspay.paymentMethodID = "<%= payment_method.id %>"
</script>